@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-ultra-light.woff") format("woff");
  font-style: normal;
  font-weight: 0;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-extra-light.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-semi-bold.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Sofia Pro;
  src: url("../fonts/sofia-pro-black.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}